.skillcard-container {
	background-color: lightblue;
	max-width: 300px;
	height: fit-content;
	padding: 0.5rem;
	border-radius: 10px;
}
.skillcard-container h2 {
	text-align: center;
}
.skillcard-container ul li {
	text-align: center;
	list-style: none;
}
.skillcard-description {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.7s ease-out;

	margin: 0.5rem;
}

.skillcard-description.hidden {
	max-height: 0;
}

.skillcard-description:not(.hidden) {
	max-height: 500px; /* Set this to a value greater than the expected height of the description */
}
